.wrapper {
  display: flex;
  /* gap: 20px; */
  min-width: 0;
  background-color: white;
  padding-top: 25px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 40px;
  border-radius: 24px;
}

.wrapper > * {
  flex-shrink: 1;
  width: 100%;
  min-width: 0;
}
