.header {
  width: 100%;
  height: 64px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  margin-bottom: 40px;
}

.container {
  width: 100%;
  max-width: 1440px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.leftBlock,
.rightBlock {
  display: flex;
  align-items: center;
  height: 100%;
}

.leftBlock {
  gap: 20px;
}
.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  height: 100%;
}

.logoImage {
  height: 40px;
  width: auto;
}

.nav {
  display: flex;
  gap: 25px;
}

.navLink,
.loginLink {
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  position: relative;
  padding: 5px 0;
}

.loginLink:hover {
  color: rgb(154, 30, 207);
}

.navLink:hover::after {
  width: 100%;
}

.rightBlock {
  gap: 26px;
}

.signupButton {
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  background-color: #6a0bff;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.signupButton:hover {
  background-color: white;
  color: #6a0bff;
  transform: translateY(-1px);
}

.signupButton:active {
  transform: scale(0.98);
}
