.shortQuestionWrapper {
  margin-left: 24px;
  margin-top: 24px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
}

.badges {
  display: flex;
  gap: 40px;
  margin-bottom: 24px;
}
.shortAnswer {
  margin-bottom: 24px;
  color: #474747;
  white-space: normal; /* Явно указываем, что текст должен переноситься (это значение по умолчанию, но полезно для отладки) */
  word-wrap: break-word; /* Позволяет переносить длинные слова */
  overflow-wrap: break-word; /* Современная версия word-wrap */
  width: 659px;
}

.detailWrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  margin-bottom: 16px;
}
.detailButton {
  font-weight: 600;
  line-height: 110%;
  letter-spacing: 0%;
  color: #6a0bff;
  margin-right: 8px;
}

.detailIcon {
  display: block;
}
